site_name: Quartile API LLC
site_description: Open API Quartile
site_url: 'https://developer.quartile.com'
theme:
  name: material
  #custom_dir: overrides
  font:
    code: Roboto Mono
  palette:
  - scheme: default
    primary: orange
    accent: deep orange
    toggle:
      icon: material/lightbulb
      name: Switch to dark mode
  - scheme: slate
    primary: orange
    accent: deep orange
    toggle:
      icon: material/lightbulb-outline
      name: Switch to light mode
  features:
  - search.suggest
  - search.highlight
  - search.share
  - search.suggest
  - navigation.expand
  - navigation.top
  - header.autohide
  icon:
    repo: fontawesome/brands/github-alt
  logo: img/icon-quartile.png
  favicon: img/favicon.ico
  language: en
repo_name: 'Quartile API Doc'
repo_url: 'https://github.com/quartile-openapi/openapi-docs'
edit_uri: ''
plugins:
  - search
  - mkdocs-video:
      mark: "custom-marker"

nav:
- Home: index.md
#- Instance Project: instance-project.md
- Portal Tutorial:
  - Subscriber and OAuth: 
    - About: tutorial/auth-index.md
    - Start - Fist Access: tutorial/auth-first_access.md
    - Create Subscriber: tutorial/auth-subscriber.md
    - Create Authorization: tutorial/auth-authorization.md
    - Handling With Refresh Token: tutorial/auth-dandling-with-refresh-token.md
    - About Tokens: tutorial/auth-refresh-token-details.md
  
  - API:
    - Call the API through the portal: tutorial/portal-api.md
    - Generate code for lang: tutorial/portal-api-code.md
  
  - OpenAPI: 
    - Specification: tutorial/openapi-spec.md
    - Postman: tutorial/openapi-postman.md
  

# - Amazon: 
#  - Amazon Advertiser: amazon-index.md
#  - Amazon DSP: amazondsp-index.md
#- Google: 
#  - Google: google-index.md
#  - Google Merchant: googlemerchant-index.md
#- Instacart: instacart-index.md
#- Shopify: shopify-index.md

markdown_extensions:
- toc:
    permalink: true
- markdown.extensions.codehilite:
    guess_lang: false
- markdown_include.include:
    base_path: docs
- pymdownx.emoji:
    emoji_index: !!python/name:materialx.emoji.twemoji
    emoji_generator: !!python/name:materialx.emoji.to_svg
- admonition
- attr_list
- codehilite
- extra
- pymdownx.tabbed
- pymdownx.smartsymbols
- pymdownx.superfences:
    custom_fences:
    - name: mermaid
      class: mermaid
      format: !!python/name:pymdownx.superfences.fence_div_format ''
extra:
  social:
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/quartiledigital
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/company/quartiledigital
    - icon: fontawesome/solid/globe
      link: http://www.quartile.com/
copyright: Copyright &copy; 2016 - 2020 Quartile LLC

extra_css:
- css/termynal.css
- css/custom.css
- css/extras.css
extra_javascript:
- https://unpkg.com/mermaid@8.4.6/dist/mermaid.min.js
- https://cdnjs.cloudflare.com/ajax/libs/tablesort/5.2.1/tablesort.min.js
- js/termynal.js
- js/custom.js
- js/table.js